body {
    font-family: 'Helvetica','Arial', sans-serif;
    color: #fff;
    text-shadow: 0px 0px 2px #000;
    background: #222;
}

div.content {
    width: 75%;
    img {
        padding-top: 1em;
        padding-bottom: 1em;
        padding-left: 4em;
        padding-right: 4em;
        max-width: 100%;
        max-height: 80%;
    }
    h1 {
        padding-left: 2em;
    }
}
.sidebar {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 30%;
    max-width: 350px;
    background: #444;
    height: 100%;
    padding-top: 5em;
    padding-left: 1em;
    padding-right: 1.1em;
    box-shadow: -10px 0px 15px #000;
    p {
        img {
            width: 2em;
        }
    }
}


